include ../users/dashboard
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Information
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .callout.callout-danger
                            h4 Kontak
                            p
                                | Hai anggi
